<%= ooor_form_for(object, url: (object.new? ? ooorest.create_path(model_path) : ooorest.update_path(model_path, object.id)),
                          html: {class: 'form-horizontal'}) do |f| %>
  <% if object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this res_partner from being saved:</h2>

      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions row">
    <%= f.oe_component %>
  </div>

  <div class="actions row">
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

